<div class="menu-one-container">
  <ul>
    <li>
      <a (click)="menuItemSelected('projectBriefOverview')">Project Brief Overview</a>
    </li>
    <li>
      <a (click)="menuItemSelected('projectContactDetails')">Project Contact Details</a>
    </li>
    <li>
      <a (click)="menuItemSelected('documentManagement')">Document Management</a>
    </li>
    <li>
      <a (click)="menuItemSelected('referralAgencyDetails')">Referral Agency Details</a>
    </li>
    <li>
      <a (click)="menuItemSelected('projectManager')">Project Manager</a>
    </li>
    <li>
      <a (click)="menuItemSelected('financialDetails')">Financial Details</a>
    </li>
    <li>
      <a (click)="menuItemSelected('landActMinisterApproval')">Land Act Minister Approval</a>
    </li>
    <li>
      <a (click)="menuItemSelected('salesStrategyType')">Sales Strategy & Type</a>
    </li>
  </ul>
</div>
