.menu-one-container {
  border: solid 0px black;
  margin: 20px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  list-style: none;
  color: #767676;
  padding: 4px 20px;
  cursor: pointer;
  width: 189px;
}
