@import "app-theme";

app-building-collection-record-table {
  padding: 20px;

  @include datatable;
}

app-property-management-attribute-set-edit {
  .service-control .form-group {
    min-height: 0;
    margin-bottom: 10px;
  }

  .service-list {
    padding: 0;
    margin-bottom: 2rem;

    .service-item {
      margin-bottom: 10px;

      & > div:first-child {
        padding-left: 2.5rem;
        & > p {
          display: flex;
          border: 1px solid $inputBorderGrey;
          margin: 0;
          height: 100%;
          align-items: center;
          padding: 0 10px;
        }
      }
    }
  }

  .facility-flag {
    .form-group, h4 {
      min-height: 0;
      margin: 0;
    }
  }
}
