<div class="details-one-container">
  <ngb-accordion #acc="ngbAccordion" class="the-accordion">
    <ngb-panel id="projectBriefOverview">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="accordion-button custom-header" [class.collapsed]="!opened">
          <button ngbPanelToggle class="p-0 btn container-fluid text-start ps-0">Project Brief Overview</button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <img class="project-form" src="assets/img/project-forms/project_brief_overview.png">
      </ng-template>
    </ngb-panel>
    <ngb-panel id="projectContactDetails">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="accordion-button custom-header" [class.collapsed]="!opened">
          <button ngbPanelToggle class="p-0 btn container-fluid text-start ps-0">Project Contact Details</button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <img class="project-form" src="assets/img/project-forms/project_contact_details.png">
      </ng-template>
    </ngb-panel>
    <ngb-panel id="documentManagement">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="accordion-button custom-header" [class.collapsed]="!opened">
          <button ngbPanelToggle class="p-0 btn container-fluid text-start ps-0">Document Management</button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <img class="project-form" src="assets/img/project-forms/document_management.png">
      </ng-template>
    </ngb-panel>
    <ngb-panel id="referralAgencyDetails">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="accordion-button custom-header" [class.collapsed]="!opened">
          <button ngbPanelToggle class="p-0 btn container-fluid text-start ps-0">Referral Agency Details</button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <img class="project-form" src="assets/img/project-forms/referral_agency_details.png">
      </ng-template>
    </ngb-panel>
    <ngb-panel id="projectManager">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="accordion-button custom-header" [class.collapsed]="!opened">
          <button ngbPanelToggle class="p-0 btn container-fluid text-start ps-0">Project Manager</button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <img class="project-form" src="assets/img/project-forms/project_manager.png">
      </ng-template>
    </ngb-panel>
    <ngb-panel id="financialDetails">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="accordion-button custom-header" [class.collapsed]="!opened">
          <button ngbPanelToggle class="p-0 btn container-fluid text-start ps-0">Financial Details</button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <img class="project-form" src="assets/img/project-forms/financial_details.png">
      </ng-template>
    </ngb-panel>
    <ngb-panel id="landActMinisterApproval">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="accordion-button custom-header" [class.collapsed]="!opened">
          <button ngbPanelToggle class="p-0 btn container-fluid text-start ps-0">Land Act Minister Approval</button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <img class="project-form" src="assets/img/project-forms/land_act_minister_approval.png">
      </ng-template>
    </ngb-panel>
    <ngb-panel id="salesStrategyType">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="accordion-button custom-header" [class.collapsed]="!opened">
          <button ngbPanelToggle class="p-0 btn container-fluid text-start ps-0">Sales Strategy & Type</button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <img class="project-form" src="assets/img/project-forms/sales_strategy_type.png">
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
