@import "app-theme";

app-form-nav {
  .nav-pills .nav-link {
    text-align: center;
  }

  li.nav-item {
    flex-grow: 1;

    &.filled .nav-link {
      color: $white;
      background-color: $primary;
    }
  }
}
